.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.todo-header {
    text-align: center;
}

.todo-tasks p {
    border: 1px grey solid;
    padding: 5px;
    margin: 0;
}