.container {
    margin-top: 4%;
    max-width: 600px;
}

.todo-header {
    text-align: center;
}

.btn-sm {
    padding: 0.05rem .15rem;
    font-size: 0.700rem;
    border-radius: .2rem;
}

html {
    overflow-y: scroll;
}