.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.todo-header {
    text-align: center;
}

.btn-sm {
    padding: 0.05rem .15rem;
    font-size: 0.700rem;
    border-radius: .2rem;
    }